data/bronze
data/silver
neo4j/conf
neo4j/data
neo4j/logs
neo4j/import
.cache
.ipython
.local
.config
.vscode
.ipynb_checkpoints
.venvs
keys.py
*.pyc
*.csv
*.parquet
Untitled.ipynb
code/scripts/fastapi/main.py
